{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">

        <div class="container">
          <div class="row my-5">
            <div class="col-md-12">
              <h1>Delete Student</h1>
              <h4>Are you sure you want to delete {{ object.name }}?</h4>
              <form action="" method="POST" class="form">
                {% csrf_token %} {% bootstrap_form form %} {% buttons %}
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                {% endbuttons %}
                <a href="{% url 'students_detail' student.id %}" style="color: #576F72">Return to Student</a>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}