{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%">
      <div class="card-body">

        <h1 class="card-title">Classes Index Page</h1>
        <a href="{% url 'classes_create' %}">Add a Class</a>
    
        {% for class in classes %}

        <a href="{% url 'classes_detail' class.id %}">
          <div class="card">
            <h4>{{ class.title }}<span> ({{ class.day_of_week }} from {{ class.start_time }} - {{ class.end_time }} ) - {{ instructor.name }}</span></h4>
          </div>
        </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>

{% endblock %}