{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%">
      <div class="card-body">

        <h1 class="card-title">Classes</h1>
        <a href="{% url 'classes_create' %}">Add a Class</a>
        <br>
    
        {% for class in classes %}

        <div class="card">
          <a href="{% url 'classes_detail' class.id %}" id="links">
            <div class="card-body">
              <span>{{ class.title }} </span> <span>({{ class.day_of_week }} from {{ class.start_time }} - {{ class.end_time }} ) - {{ instructor.name }}</span>
            </div>
          </a>
        </div>
        <br>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>

{% endblock %}