{% extends 'base.html' %} {% block content %}


<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">
        <h1 class="card-title">{{ student.name }}</h1>
        <div>
          <a href="{% url 'students_update' student.id %}" style="color: #576F72">Edit</a> | 
          <a href="{% url 'students_delete' student.id %}" style="color: #576F72">Delete</a>
        </div>
        <div class="row">
          <!-- Display Student Details -->
          <div class="col-6">
            <div class="card" style="background-color: #DCD7C9;">
              <div class="card-body">
                <span>General / Contact Information</span>
                <ul style="list-style: none;">
                  <li>age: {{ student.age }}</li>
                  <li>email: {{ student.email }}</li>
                  <li>phone: {{ student.phone }}</li>
                </ul>
                <span>Address</span>
                <ul style="list-style: none;">
                  <li>{{ student.address }}</li>
                  <li>{{ student.city }}, {{ student.state }}</li>
                  <li>{{ student.zip }}</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Photo Addition / Display -->
          <div class="col-4 offset-1">
            <div class="card" style="background-color: #DCD7C9;">
              {% for photo in student.photo_set.all %}
              <img src="{{ photo.url }}" class="card-img-top" alt="{{ student.name }}">
              {% empty %}
              <div>No Photo</div>
              {% endfor %}            
            </div>
            <form 
              action="{% url 'add_photo' student.id %}" 
              method="POST"
              enctype="multipart/form-data"
            >
            {% csrf_token %}
              <input type="file" name="photo-file">
              <input type="submit" class="btn btn-outline-success" value="Upload Photo" />
            </form>     
          </div>
        </div>

        <hr>
        <!-- See / Remove Classes from this Student -->
        <div class="row">
          <div>
            <h5>{{ student.name }}'s Classes</h5>
            {% if student.classes.count %} {% for class in student.classes.all %}
            <div>
              <form
              action="{% url 'assoc_class_delete' student.id class.id %}"
              method="POST"
              >
              {% csrf_token %}
              <span>
                <button type="submit" class="btn btn-outline-danger btn-sm">-</button>
                <a href="{% url 'classes_detail' class.id %}" style="color: #576F72">
                  {{ class.title }}
                </a>
                <span>{{ class.day_of_week }}, {{ class.start_time }}pm - {{ class.end_time }}pm</span>
              </span>
            </form>
          </div>
          {% endfor %} {% else %}
          <h6>( Not Enrolled in Any Classes )</h6>
          {% endif %}
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Classes to this Student -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">
        <div>
          <h5>Available Classes:</h5>
          {% if classes.count %} {% for class in classes.all %}
          <div>
            <form action="{% url 'assoc_class' student.id class.id %}" method="POST">
              {% csrf_token %}
              <span>
                <button type="submit" class="btn btn-outline-success btn-sm">+</button>
                <a href="{% url 'classes_detail' class.id %}" style="color: #576F72">
                  {{ class.title }}
                </a>
                <span>{{ class.day_of_week }}, {{ class.start_time }}pm - {{ class.end_time }}pm</span>
              </span>
            </form>
          </div>
          {% endfor %} {% else %}
          <h6>( No Available Classes )</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}