{% extends 'base.html' %} {% block content %}

<h1>Student Details</h1>

<div>
  <div>
    <h2>{{ student.name }}</h2>
    <ul>
      <li>age: {{ student.age }}</li>
      <li>email: {{ student.email }}</li>
      <li>phone: {{ student.phone }}</li>
    </ul>
    <ul>
      <li>street address: {{ student.address }}</li>
      <li>city: {{ student.city }}</li>
      <li>state: {{ student.state }}</li>
      <li>zip code: {{ student.zip }}</li>
    </ul>

    <div>
      <a href="{% url 'students_update' student.id %}">Edit</a>
      <a href="{% url 'students_delete' student.id %}">Delete</a>
    </div>
  </div>
</div>

<!-- See / Remove Classes from this Student -->
<div>
  <h2>{{ student.name }}'s Classes</h2>
  {% if student.classes.count %} {% for class in student.classes.all %}
  <div>
    <h4>{{ class.title }}</h4>
    <p>{{ class.day_of_week }}, {{ class.start_time }}pm - {{ class.end_time }}pm</p>
    <form
    action="{% url 'assoc_class_delete' student.id class.id %}"
    method="POST"
    >
    {% csrf_token %}
    <button type="submit">Remove</button>
  </form>
</div>
{% endfor %} {% else %}
<h4>( Not Enrolled in Any Classes )</h4>
{% endif %}
</div>
<!-- Add Classes to this Student -->
<div>
  <h3>Available Classes:</h3>
  {% if classes.count %} {% for class in classes.all %}
  <div>
    <h4>{{ class.title }}</h4>
    <p>{{ class.day_of_week }}, {{ class.start_time }}pm - {{ class.end_time }}pm</p>
    <form action="{% url 'assoc_class' student.id class.id %}" method="POST">
      {% csrf_token %}
      <button type="submit">Add</button>
    </form>
  </div>
  {% endfor %} {% else %}
  <h4>( No Available Classes )</h4>
  {% endif %}
</div>

{% endblock %}
