{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">
        <h1 class="card-title">Instructors</h1>
        <a href="{% url 'instructors_create' %}" style="color: #576F72">Add an Instructor</a>
        <br>
        {% for instructor in instructors %}
        <div class="card" style="background-color: #DCD7C9;">
          <a href="{% url 'instructors_detail' instructor.id %}" style="color: #576F72">
            <div class="card-body">
              <span>{{ instructor.name }}</span>
            </div>
          </a>
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}