{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}


<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">

        <div class="container">
          <div class="row my-5">
            <div class="col-md-12">
              <h1>Create an Account</h1>
              {% if error_message %}
              <p>{{ error_message }}</p>
              {% endif %}
              <form action="{% url 'signup' %}" method="POST" class="form">
                {% csrf_token %} {% bootstrap_form form %} {% buttons %}
                <button type="submit" class="btn btn-outline-success btn-sm">Sign Up</button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>


{% endblock %}
