{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">
        <h1 class="card-title">About Page</h1>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit numquam
          ullam fugiat nulla possimus aliquam et magni impedit quo culpa, ab,
          animi odio quae atque hic est eligendi, similique quisquam!
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
