{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="margin: 5%; background-color: #DCD7C9;">
      <div class="card-body">
        <h1 class="card-title">
          Our Dance Studio Software Makes Running Your Studio Easy.
        </h1>
        <p class="card-text">
          Teaching dance is fun! But too often, managing your business is not. Class Booker Pro dance studio software makes it simple.
        </p>
        <p class="card-text">
          Class Booker Pro offers everything you need to run your dance studio; a powerful online registration platform and much more. We help take care of the logistics so you can keep your focus on what matters most — engaging with your students and fostering their love for dance.
        </p>
        <p class="card-text">
          Login or Sign Up to begin using our features.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
