{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Class Register</title>
  <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">( App Name Goes Here )</a></li>
    </ul>
    <ul>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'classes_index' %}">Classes</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <ul>
      <li>&copy; 2022 Sean Watson | </li>
      <li><a href="https://github.com/sean-watson30">GitHub</a> | </li>
      <li><a href="https://www.linkedin.com/in/sean-watson30/">LinkedIn</a> </li>
    </ul>
  </footer>
</body>
</html>