{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

  <title>Class Booker Pro</title>
  <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
</head>
<body>
  <!-- <nav class="navbar" style="background-color: #0c4eb1; color: white;"> -->
  <!-- <nav class="navbar" style="background-color: #576F72; color: white;"> -->
  <nav class="navbar" style="background-color: #2C3639; color: white;">
    <div class="navbar-brand">
      <!-- <a class="nav-link" style="color: white;" href="/">Class Booker Pro</a> -->
      <div style="color: white; margin: 10px;">Class Booker Pro</div> 
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'about' %}">About</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'classes_index' %}">Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'instructors_index' %}">Instructors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'students_index' %}">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'signup' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>

  <!-- <footer class="footer" style="background-color: #0c4eb1; color: white;"> -->
  <!-- <footer class="footer" style="background-color: #576F72; color: white;"> -->
  <footer class="footer" style="background-color: #2C3639; color: white;">
    <ul class="footer-list">
      <li>&copy; 2022 Sean Watson | </li>
      <li>
        <a href="https://github.com/sean-watson30" style="color: white;"> GitHub </a> | 
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sean-watson30/" style="color: white;"> LinkedIn </a> |
      </li>
      <li>
        <a href="#" style="color: white;"> Portfolio </a>
      </li>
    </ul>
  </footer>
</body>
</html>