body {
  min-height: 100vh;
  background-color: rgb(200, 209, 209);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  background-color: rgb(152, 3, 152);
  padding-top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: bottom; */
  /* text-align: center; */
}

.footer-list {
  list-style: none;
  display: flex;
}